/* This is the general theme for the game. Remember it is css */

/* the general design of the window*/
.root{
    -fx-background-color: #FFFFFF; /* sets the background colour */
    -fx-font-size: 10pt; /*sets font size of text*/
}

.label{
    -fx-text-fill: #7AC0FF; /*sets text colour*/
    -fx-font-style: italic;
}

.button{
    -fx-text-fill: #FFFFFF; /*sets text colour*/
    /*-fx-background-color: linear-gradient(#7cafc2, paleturquoise);*/
    -fx-background-color: #AAD7FF;
}
/* edits the way the button looks, when you hover the mouse over it*/
.button:hover{
    -fx-background-color: linear-gradient(maroon, crimson);
}
/*edits the radiobuttons (different choices in the game)*/

.radio-button{
    -fx-background-insets: 0px;
    -fx-text-fill: ivory;
}

.button-menu{
    -fx-text-fill: #000;
    -fx-background-radius: 2em;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
    -fx-max-width: 200px;
    -fx-background-color: linear-gradient(ivory, navajowhite);
    -fx-background-insets: 10px;
    -fx-padding: 10px;
}
.button-menu:hover{
    -fx-background-color: linear-gradient(navajowhite, ivory);
}

.button-quickplay{
    -fx-text-fill: #383838;
    -fx-background-radius: 2em;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
    -fx-max-width: 200px;
    -fx-background-color: linear-gradient(ivory, navajowhite);
    -fx-background-insets: 10px;
    -fx-padding: 10px;
}
.button-quickplay:hover{
    -fx-background-color: linear-gradient(navajowhite, ivory);
}

.button-sound{
    -fx-background-radius: 5em;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
    -fx-max-width: 100px;
    /*-fx-background-color: linear-gradient(#7cafc2, paleturquoise);*/
    -fx-background-color: #AAD7FF;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
}

.button-sound:hover{
    -fx-background-color: linear-gradient(paleturquoise, #7cafc2);
}

.choice-box{
    -fx-background-color: black;
}

.choice-box .context-menu{
    -fx-background-color: black; /*select the dropdown menu background*/
}

.label-headline{
    -fx-text-fill: #7cafc2; /*sets text colour*/
    -fx-font-size: 28pt; /* sets the size of the text */
    -fx-font-weight: bold; /*adds bold texture to the text */
    /*-fx-font-style: oblique; /* adds a different text style*/
    -fx-font-family: Copperplate;
}

.check-box{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12;
}

.text-field{
    -fx-background-color: #AAD7FF;
    -fx-background-radius: 5em;
    -fx-text-fill: black;
    -fx-min-width: 100px;
    -fx-min-height: 50px;
    -fx-max-height: 80px;
    -fx-max-width: 300px;
    -fx-font-size: 20pt;
    -fx-focus-color: #7AC0FF ;
    -fx-text-fill: #004A8C;

}


/* this set the design of the "username" and "password" labels*/
.label-signinpage{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: aliceblue;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1); /*make fancy design (I'm just toying around*/
}
/* This is the general theme for the game. Remember it is css */

/* the general design of the window*/
.root{
    -fx-background-color: #FFFFFF; /* sets the background colour */
    -fx-font-size: 10pt; /*sets font size of text*/
}

.label{
    -fx-text-fill: #00396C; /*sets text colour*/
    -fx-font-style: italic;
}

.button{
    -fx-background-color: linear-gradient(crimson, maroon); /*grade from one colour to another*/
    -fx-text-fill: #FFFFFF; /*sets text colour*/
    -fx-background-radius: 10; /*adds roundness to the buttons */

}
/* edits the way the button looks, when you hover the mouse over it*/
.button:hover{
    -fx-background-color: linear-gradient(maroon, crimson);
}
/*edits the radiobuttons (different choices in the game)*/

.radio-button{
    -fx-background-insets: 0px;
    -fx-text-fill:  #FFFFFF;
    -fx-background-radius: 4em;
    -fx-min-width: 100px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
    -fx-max-width: 250px;
    -fx-background-color: #078AFF;
    -fx-padding: 30px;


}

.radio-button:hover{
    -fx-background-color: #004A8C;
    -fx-text-fill: #FFFFFF;
}

.button-quickplay{
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4em;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
    -fx-max-width: 250px;
    /*-fx-background-color: linear-gradient(deepskyblue, dodgerblue);*/
    -fx-background-color: #128FFF;

    -fx-background-insets: 10px;
    -fx-padding: 10px;
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}
.button-quickplay:hover{
    /*-fx-background-color: linear-gradient(#004A8C, #129FF);*/
    -fx-background-color: #004A8C;

}


.button-menu{
    -fx-text-fill: #004A8C;
    -fx-background-radius: 4em;
    -fx-min-width: 100px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-max-width: 200px;
    /*-fx-background-color: linear-gradient(deepskyblue, dodgerblue);*/
    -fx-background-color: #AAD7FF;
    -fx-background-insets: 10px;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-border-insets: -3px;
    -fx-background-insets: -3px;
    -fx-padding: 10px;
}
.button-menu:hover{
    /*-fx-background-color: linear-gradient(#004A8C, #129FF);*/
    -fx-background-color: #7AC0FF;

}

.button-continue{
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4em;
    -fx-min-width: 250px;
    -fx-min-height: 90px;
    -fx-max-height: 90px;
    -fx-max-width: 250px;
    -fx-background-color: #128FFF;
    -fx-background-insets: 10px;
    -fx-padding: 8px;
    -fx-font-size: 11pt;
    weight: bold;
}
.button-continue:hover{
    -fx-background-color: #004A8C;
}


.button-sound{
    -fx-background-radius: 5em;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
    -fx-max-width: 100px;
    -fx-background-color: linear-gradient(#7cafc2, paleturquoise);
    -fx-background-insets: 0px;
    -fx-padding: 0px;
}

.button-sound:hover{
    -fx-background-color: linear-gradient(paleturquoise, #7cafc2);
}

.choice-box{
    -fx-background-color: #7AC0FF;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4em;
    -fx-min-width: 220px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-max-width: 220px;
}


.choice-box .context-menu{
    -fx-background-color: #128FFF; /*select the dropdown menu background*/
    -fx-text-fill: #FFFFFF;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

.check-box{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12;
}

.text-field{
    -fx-text-fill: #004A8C;
}

/* this set the design of the "username" and "password" labels*/
.label-signinpage{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: #004A8C;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1); /*make fancy design (I'm just toying around*/
}
.label-scores{
    -fx-text-fill: #004A8C;
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-padding: -10;
}
.label-scores2{
    -fx-text-fill: crimson;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}
.label-scores3{
    -fx-text-fill: #7cafc2;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}
.label-scores4{
    -fx-text-fill: antiquewhite;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}
.label-scores5{
    -fx-text-fill: cornflowerblue;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}
.label-team{
    -fx-text-fill: aliceblue;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-padding: -10 0 -10 0;
}
.label-who{
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: deepskyblue;
}
.label-board{
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: deepskyblue;
}
